<%-include('../cabecalho.ejs')%>
<h1>Editar Fabricante</h1>
<div>
<a href="/fabricante/lst">Listar</a>
</div>
<div>
    <form  method="post">
       
        <input type="hidden" name="id" 
        value="<%=Fabricante.id%>"><br>

        <label>Nome:</label>
        <input type="text" name="nome" 
        value="<%=Fabricante.nome%>"><br>

         <label>Ano de fundação:</label>
        <input type="number" name="anofundacao"
        value="<%=Fabricante.anofundacao%>"
        ><br>

        <button type="submit">Cadastrar</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>