<%-include('../cabecalho.ejs')%>
    <h1>Fabricantes</h1>
    <a href="/fabricante/add">Adicionar fabricante</a>
    <table>
        <tr>
            <td>Nome</td>
            <td>Ano de fundação</td>
            <td>Ações</td>
        </tr>
      
        <%for (const {id, nome, anofundacao} of Fabricantes) {%>
        <tr>
            <td><%=nome%></td>
            <td><%=anofundacao%></td>
            <td><a href="/fabricante/edt/<%=id%>">Editar</a>
            <a href="/fabricante/del/<%=id%>">Excluir</a></td>
        </tr>
        <%}%>
    </table>
 <%-include('../rodape.ejs')%>