<%-include('../cabecalho.ejs')%>
    <h1>Fabricantes</h1>
      <div>
        <form action="
        " method="post">
        <input type="text" name="filtro"
         id="" placeholder="digite o nome">
         <button type="submit">Pesquisar</button>
    </form>
    </div>
    <a href="/fabricante/add" class="btn">Adicionar fabricante</a>
    <table>
        <tr>
            <td>Nome</td>
            <td>Ano de fundação</td>
            <td>Ações</td>
        </tr>
      
        <%for (const {id, nome, anofundacao} of Fabricantes) {%>
        <tr>
            <td><%=nome%></td>
            <td><%=anofundacao%></td>
            <td><a href="/fabricante/edt/<%=id%>" class="btn">Editar</a>
            <a href="/fabricante/del/<%=id%>" class="btn">Excluir</a></td>
        </tr>
        <%}%>
    </table>
 <%-include('../rodape.ejs')%>