<%-include('../cabecalho.ejs')%>
<h1>Editar Aluno</h1>
<div>
<a href="/aluno/lst">Listar</a>
</div>
<div>
    <form  method="post">
       
        <input type="hidden" name="id" 
        value="<%=Aluno.id%>"><br>
        <label>Nome:</label>
        <input type="text" name="nome" 
        value="<%=Aluno.nome%>"><br>
         <label>Matrícula:</label>
        <input type="text" name="matricula"
        value="<%=Aluno.matricula%>"
        ><br>
        <button type="submit">Cadastrar</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>