<%-include('../cabecalho.ejs')%>
<h1>Editar Artista</h1>
<div>
<a href="/artista/lst" class="btn" >Listar</a>
</div>
<div>
    <form  method="post">
       
        <input type="hidden" name="id" 
        value="<%=Artista.id%>"><br>

        <label>Nome:</label>
            <input type="text" name="nome" 
        value="<%=Artista.nome%>"><br>

         <label>Data de Nascimento:</label>
            <input type="date" name="dataNascimento"
        value="<%=Artista.dataNascimento%>"
        ><br>

        <label>CPF:</label>
            <input type="number" name="CPF"
        value="<%=Artista.CPF%>"><br>

        <label>Email:</label>
            <input type="text" name="email"
        value="<%=Artista.email%>"
        ><br>
        <label>Celular:</label>
            <input type="number" name="celular"
        value="<%=Artista.celular%>"><br>

        <button type="submit">Atualizar Dados</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>