<%-include('../cabecalho.ejs')%>
<h1>Editar Celular</h1>
<div>
<a href="/celular/lst">Listar</a>
</div>
<div>
    <form  method="post">
       
        <input type="hidden" name="id" 
        value="<%=Celular.id%>"><br>

        <label>Nome:</label>
        <input type="text" name="nome" 
        value="<%=Celular.nome%>"><br>

         <label>Modelo:</label>
        <input type="text" name="modelo"
        value="<%=Celular.modelo%>"
        ><br>

         <label>Sistema:</label>
        <input type="text" name="sistema" 
        value="<%=Celular.sistema%>"><br>

         <label>Armazenamento:</label>
        <input type="text" name="armazenamento"
        value="<%=Celular.armazenamento%>"
        ><br>

         <label>Preço:</label>
        <input type="text" name="preco" 
        value="<%=Celular.preco%>"><br>

           <label>Fabricante</label>
        <select name="fabricante" id="">
            <option value=""></option>
            <option value="Xiaomi">Xiaomi</option>
            <option value="Apple">Apple</option>
            <option value="Samsung">Samsung</option>
            <option value="Motorola">Motorola</option>
            <option value="Nokia">Nokia</option>
            <option value="Huawei">Huawei</option>
            <option value="OnePlus">OnePlus</option>
            <option value="Infinix">Infinix</option>
        </select>

        <button type="submit">Cadastrar</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>