<%-include('../cabecalho.ejs')%>
<h1>Editar Exposicao</h1>
<div>
<a href="/exposicao/lst" class="btn" >Listar</a>
</div>
<div>
    <form  method="post">
       
        <input type="hidden" name="id" 
        value="<%=Exposicao.id%>"><br>

        <label>Nome da Exposição Individual:</label>
        <input type="text" name="nomeColecao" 
        value="<%=Exposicao.nomeColecao%>"><br>

           <label>Tema:</label>
        <input type="text" name="tema" 
        value="<%=Exposicao.tema%>"><br>

           <label>Artista</label>
        <select name="artista" id="">
            <option value=""></option>
            <option value="oi">oi</option>
        </select>

        <button type="submit">Atualizar</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>