<%- include('../cabecalho.ejs') %>

<h1>Editar Obras</h1>

<div>
    <a href="/obras/lst" class="btn">Listar</a>
</div>

<div>
    <form method="post">

        <input type="hidden" name="id" value="<%= Obras.id %>">

        <div class="form-group">
            <label>Obra:</label>
            <input type="text" name="nomeColecao" value="<%= Obras.nome %>"><br>
        </div>

      <div class="form-group" enctype="multipart/form-data">
            <label>Artista:</label>
            <select name="artista" id="">
                 <option value=""></option>
                 <option value="oi" <%= Obras.artista === "oi" ? "selected" : "" %>>oi</option>
                 <option value="ui" <%= Obras.artista === "ui" ? "selected" : "" %>>ui</option>
            </select>
            
        </div>

        <div class="form-group">
            <label>Tipo:</label>
            <input type="text" name="tipo" value="<%= Obras.tipo %>"><br>
        </div>

        <div class="form-group">
            <label>Descrição:</label>
            <input type="text" name="descricao" value="<%= Obras.descricao %>"><br>
        </div>

         <div class="form-group">
            <label>Upload da Obra:</label>
            <input type="file" name="imagem" value="<%= Obras.imagem %>"><br>
        </div>


        <button type="submit" class="btn">Atualizar Dados</button>
        
    </form>
</div>

<%- include('../rodape.ejs') %>
