<%-include('../cabecalho.ejs')%>
    <h1>Obras</h1>
      <div>
        <form action="
        " method="post">
        <input type="text" name="filtro"
         id="" placeholder="digite o nome">
         <button type="submit">Pesquisar</button>
    </form>
    </div>
    <a href="/obras/add" class="btn">Adicionar Obra</a>
    <table>
        <tr>
            <td>Nome</td>
            <td>Artista</td>
            <td>tipo</td>
             <td>Descrição</td>
            <td>Ações</td>
        </tr>
      
        <%for (const {id, nomeColecao, artista, tipo, descricao} of Obrass) {%>
        <tr>
            <td><%=nomeColecao%></td>
            <td><%=artista%></td>
            <td><%=tipo%></td>
            <td><%=descricao%></td>
            
            <td><a href="/obras/edt/<%=id%>" class="btn">Editar</a>
            <a href="/obras/del/<%=id%>" class="btn">Excluir</a></td>
        </tr>
        <%}%>
    </table>
 <%-include('../rodape.ejs')%>